* {
    margin: 0;
    padding: 0;
}

#pageBattleship {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#header {
    width: 100%;
    background-color: rgb(35, 190, 118);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#header h1 {
    text-align: center;
}

#header h2 {
    margin: 5px;
}

#successBattleship {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 1.4rem;
    background-color: lightgreen;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btnBattleship {
    width: 100%;
    height: 30px;
    border: 2px solid lightgrey;
    background-color: #efefef;
    text-align: center;
}

.btnBattleship:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: #efefef;
    transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
}

#battleship {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#j1Battleship, #j2Battleship {
    width: 20%;
    text-align: center;
    padding-top: 225px;
    font-size: 2rem;
    font-style: bold;
}

#tabBattleship {
    border-collapse: collapse;
}

.caseBattleship {
    width: 100px;
    height: 75px;
    border: 2px solid lightgrey;
    text-align: center;
}

.fire {
    width: 60%;
    height: 40%;
    color: #545454;
    background-color: #efefef;
    border: solid #ffffff 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.fire:hover {
    cursor: pointer;
    background-color: #545454;
    color: #ffffff;
    transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
}

.imgPlayers1 {
    max-width: 100%;
    max-height: 100%;
    background-color: #ff9d00;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.imgPlayers2 {
    max-width: 100%;
    max-height: 70px;
    background-color: #545454;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.imgLoose {
    max-width: 100%;
    max-height: 70px;
    background-color: red;
}



/* #header input {
    color: white;
}

#successPower4 {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 1.4rem;
    background-color: lightgreen;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#msgSuccess {
    width: 100%;
}

#btnRestartPower4 {
    width: 20%;
}

#j1, #j2 {
    width: 20%;
    text-align: center;
    padding-top: 225px;
    font-size: 2rem;
    font-style: bold;
}

#power4 {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#tabPower4 {
    border-collapse: collapse;
}

.case {
    width: 100px;
    height: 75px;
    border: 2px solid lightgrey;
    text-align: center;
}

.btnPower4 {
    width: 100%;
    height: 30px;
    border: 2px solid lightgrey;
    background-color: #efefef;
    text-align: center;
}

.btnPower4:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: #efefef;
    transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
}

.imgPlayers1 {
    max-width: 100%;
    max-height: 70px;
    background-color: #ff9d00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.imgPlayers2 {
    max-width: 100%;
    max-height: 70px;
    background-color: #545454;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */